.viewGameBoard {
    background-color: aquamarine;
    width: 700px;
    height: 950px;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
    width: 330px;
    height: 330px;
    margin: auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 2px;
    border: unset;
    background-color: yellowgreen;
}

.grid-gameboard {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
    width: 330px;
    height: 330px;
    margin: auto;
}

.grid-item-wall {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 2px;
    border: unset;
    background-color: yellowgreen;
}

.titleNameGame {
    font-size: 30px;
    color: blueviolet;
    text-align: center;
}

.btncomfirm {
    /* sflex-grow: 1; */
    /* margin: 0 auto; */
    /* text-align: center; */
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 200px;
    height: 60px;
    background-color: steelblue;
    font-size: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
}

.control {
    width: 100%;
}

.timer {
    font-size: 30px;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
}